:root {
    --white: #FFF;
    --primary: #b1b1b1;
    --secondary: #e9e9e9;
    --gray: #3C3C3C;
}

@font-face {
    font-family: 'Pixeloperatormono';
    src: url('https://cdn.shopify.com/s/files/1/2642/6578/t/28/assets/PPNeueBit-Bold.woff?v=81697975831230729621624502614') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../font/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* width */
::-webkit-scrollbar {
    width: 3px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--gray);
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--primary);
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--secondary);
  }
body {
    background: #000000 0% 0% no-repeat padding-box;
    font-family: Poppins;
}

.height-550{
    top: -450px !important;
    right: -450px !important;
    width: 850px !important;
    height: 900px !important;
    z-index: -1;
}

.section {
    position: relative;
    width: 100%;
    /* overflow: hidden; */
    overflow-x: clip;

}

.banner-section {
    height: calc(100vh - 70.99px);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.banner-text {
    text-align: center;
    min-width: 430px;
}

.banner-img {
    position: absolute;
    z-index: -5;
    right: 50%;
    bottom: 50%;
    transform: translate(50%, 50%);
    width: 240px;
}

.banner-text h1 {
    font-size: 130px;
    color: var(--white);
    font-family: Pixeloperatormono, sans-serif;
    line-height: 0.8;

}

.banner-text .flex-text {
    display: flex;
    justify-content: space-between;
}

.banner-text .flex-text p {
    color: var(--white);
    font-size: 16px;
    font-family: Poppins;
}
.second-sec{
    padding-top: 7rem;
}
.section-title {
    font-family: Pixeloperatormono, sans-serif;
    font-size: 98px;
    color: var(--white);
    line-height: 0.9;
}

.list-box {
    margin-top: 3rem;
}

.list-box h2 {
    color: var(--white);
    font-size: 21px;
}

.list-box h3 {
    color: var(--white);
    font-size: 19px;
}

.list-box p {
    color: var(--white);
    font-size: 16px;
    //width: 350px;
    line-height: 1.7;
}
.normal-p.p-mt,.normal-p{
    width: 370px;
    line-height: 1.7;

}
.contribute {
    margin-top: 2rem;
}
.intent {
    margin-top: 1rem;
}

.normal-btn-with-icon {
    color: var(--white);
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 16px;
    background: none !important;
    color: var(--white) !important;
    border: none;
    padding: 0;
}
.news-letter .normal-btn-with-icon{
margin-top: 2.5rem !important;
}

.normal-btn-with-icon:hover {
    color: var(--white);
}

.normal-btn-with-icon img {
    margin-left: 1rem;
    width: 21px;
    height: 5px;
}

.bottom-padding {
    padding-bottom: 10rem;
}

.daul-flex h2 {
    display: inline-block;
    margin: 0;
}

.daul-flex sub {
    color: var(--white);
}

.normal-p {
    font-size: 11.5px;
    color: var(--white);
}
.p-mt{
    margin-top: 2rem;
}
.c-img-section{
    width: 300px;
    height: 350px;
/* margin: auto; */
}
.c-img-section img{
    width: 300px;
    height: 350px;
}
.section-top-p{
    padding-top: 6rem;
}
.container-fluid{
    padding: 0 4rem;
}
.slider-container{
    padding-left: 4rem;
}
.slider-box:focus-visible{
    outline: none !important;
}
.slider-box img{
    width: 84%;
    margin-top: 2rem;
    border-radius: 20px;
}
.btn-group-colum{
    margin-top:2rem;
}
.btn-group-colum .normal-btn-with-icon{
    margin-top: 1rem;
}
.primary-dot::after{
    background: transparent radial-gradient(closest-side at 50% 50%, #b1b1b1 0%, #b1b1b100 100%) 0% 0% no-repeat padding-box;

}
.secondary-dot::after{
    background: transparent radial-gradient(closest-side at 50% 50%, #e9e9e9 0%, #e9e9e900 100%) 0% 0% no-repeat padding-box;
}
.news-message{
    font-size: 16px;
    margin-top: 1rem;
}
.custom-from-group{
    margin-top: 2.5rem;
    font-size: 32px;
    padding-right: 2rem;
}
.custom-from-group-placeholder{
    font-size: 18px;
}
.form-control{
    background: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
    padding-left: 0;
    color: var(--white);
}
.form-control:focus{
    background: transparent;
    box-shadow: none;
    color: var(--white);
    border-color: var(--primary);

}
label{
    font-size: 16px;
    color: var(--white);
}
.mobile-head-open{
    display: none !important;
}
.mobile-head{
    display: none;
}
.custom-order-4{
    display: flex;
}

.mobile-social{
    display: none !important;
}
.container {
    /* padding: 0 0.5rem; */
}

.common-bottom-padding{
    padding-bottom: 8rem;
}

.close-icon{
    width: 20px;
}
.sm-logo{
    width: 50px;
}
.c-desktop{
    display: block;
}
.c-mobile{
    display: none;
}
.mac .banner-text h1{
    line-height: 0.5 !important;
}
